<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Document</title>
	<style>
		.high {
			background: #f00;
			text-decoration: none;
			
		}
	</style>
</head>
<body>
	
	<div id="app">	
	    <router-link to="/home">首页</router-link>
		<router-link to="/fenlei">分类</router-link>
		<router-link to="/shopping">购物车</router-link>		
	
		<router-view></router-view>
	</div>
	
<script src="../../../node_modules/vue/dist/vue.js"></script>
<script src="../../../node_modules/vue-router/dist/vue-router.min.js"></script>
<script>
	
	//定义路由组件	
const home = { template: '<div>首页</div>' }
const fenlei = { template: '<div>分类的内容...</div>' }
const shopping = { template: '<div>购物车内容</div>' }
	
	
	//配置路由规则
	const routes=[	
		{
		  path:"/",
		  component:home
		},
		{
		  path:"/home",
		  name:"home",
		  component:home,
		  meta:{
		     aa:"首页标题"
		  }
		  
		},
		{
		  path:"/fenlei",
		  name:"fenlei",
		  component:fenlei,
		  meta:{
		     aa:"分类标题"
		  }
		},
		{
		  path:"/shopping",
		  name:"shopping",
		  component:shopping,
		  meta:{
		     aa:"购物车标题"
		  }
		}
	
	]
	
	//实例化路由
	const router=new VueRouter({
		//mode:"history",
		linkActiveClass:"high",
		routes
	})
	
	

	router.beforeEach((to,from,next)=>{
		console.log(to.meta)
		//console.log(from)
		document.title=to.meta.aa;
		next() 
	})
	
	/*router.afterEach((to,from)=>{
		console.log('after里to')
		console.log('afoter里from')
		//next() 
	})*/
	
	
	
	
	
	
	const app = new Vue({
	  				router
	}).$mount('#app')
	
	
	
	
	
	
</script>
</body>
</html>